{% extends 'base.html' %}

{% block connent %}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>只允许上传表格文件</legend>
    </fieldset>


    <div class="layui-upload">
        <!--<button type="button" class="layui-btn layui-btn-normal" id="testList1">选择文件</button>-->
        <label class="layui-form-label">数据类型</label>
        <div class="layui-input-inline">
            <select id="lx" name="quiz1">
                <option value="">请选择</option>
                <option value="kc_splr">库存/商品利润</option>
                <option value="kc_kccx">库存/库存查询</option>
                <option value="kc_ykh">库存/预到货</option>
                <option value="kc_zksp">库存/在库商品</option>
                <option value="Kc_Spxx">库存/商品基础信息</option>
                <option value="kc_xhbm">库存/型号商品编码</option>
            </select>
        </div>

        <div class="layui-upload-list">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>大小</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="demoList"></tbody>
            </table>
        </div>
        <button type="button" class="layui-btn layui-btn-normal" id="testList">选择文件</button>
        <button type="button" class="layui-btn" id="testListAction">开始上传</button>
    </div>

    <div style="margin-top: 10px;"></div>
{% endblock %}

{% block model_js %}

    layui.use('upload', function(){
    var $ = layui.jquery
    ,upload = layui.upload;

    //多文件列表上传示例
    var demoListView = $('#demoList')
    ,uploadListIns = upload.render({
    elem: '#testList'
    ,url: '/upload/index/'
    ,accept: 'file'
    ,exts: 'xls|xlsx|csv' //只允许上传表格文件
    //,data: {'leixing': $('#lx').val()}
    ,data: {
        'leixing':function(){
            return $('#lx').val();
        }
    }
    ,multiple: true
    ,auto: false
    ,bindAction: '#testListAction'
    ,choose: function(obj){
    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
    //读取本地文件
    obj.preview(function(index, file, result){
        //console.log(index);
        //console.log(file);

    var tr = $(['<tr id="upload-'+ index +'">'
          ,'<td>'+ file.name +'</td>'
          ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
          ,'<td>等待上传</td>'
          ,'<td>'
            ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
            ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
          ,'</td>'
        ,'</tr>'].join(''));
    //单个重传
    tr.find('.demo-reload').on('click', function(){
    obj.upload(index, file);
    });

    //删除
    tr.find('.demo-delete').on('click', function(){
    delete files[index]; //删除对应的文件
    tr.remove();
    uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
    });

    demoListView.append(tr);
    });
    }
    ,done: function(res, index, upload){
    if(res.code == 0){ //上传成功
    var tr = demoListView.find('tr#upload-'+ index)
    ,tds = tr.children();
    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
    tds.eq(3).html(''); //清空操作
    return delete this.files[index]; //删除文件队列已经上传成功的文件
    }
    this.error(index, upload);
    }
    ,error: function(index, upload){
    var tr = demoListView.find('tr#upload-'+ index)
    ,tds = tr.children();
    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
    }
    });
    });

{% endblock %}